@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";
@import "mobile.css";
@import "chats.css";
@import "narr.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 10px 20px;
  color: #020202;
  background-color: white;
  height: 1000px;
  line-height: 120%;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

main {
  animation: fadeIn 0.5s ease-in-out;
  margin-top: 120px;
}

.header-wrapper {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  /* box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025); */
  z-index: 1;
}
